<div class="container text-center mt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @tweet %>

  <div>
    <%= link_to "Editar Tweet", edit_tweet_path(@tweet), class:"btn btn-primary" %> |
    <%= link_to "Volver a tweets", tweets_path, class:"btn btn-primary" %>

    <%= button_to "Eliminar tweet", @tweet, method: :delete, class:"btn btn-primary mt-3" %>
  </div>
</div>
